@page
@model MyApp.IndexModel
@{
    ViewData["Title"] = "Home";
}

@section styles{
    <link href="~/lib/vue-select/vue-select.css" rel="stylesheet" />

}

<div id="app">
    <h1>Tag your friends...</h1>

    <div class="form-group">
        <v-select multiple
                  v-model="selectedTags"
                  label="name" 
                  :filterable="true" 
                  :options="tags"
                  @@search="searchTags"
                   />
    </div>
</div>

@section scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue-select/vue-select.js"></script>

    <script>
        Vue.component('v-select', VueSelect.VueSelect);
        var app = new Vue({
            el: "#app",
            data: {
                tags: [],
                selectedTags: []
            },
            mounted: function () {

                //this.getTags();
            }
            ,
            methods: {
                

                searchTags: function (term, loading) {
                    if (term.length<3) {
                        return;
                    }
                    loading(true);
                    var vm = this;
                    $.ajax({ url: "/api/tag/"+term, method: "GET" })
                        .done(function (data) {
                            vm.tags = data;
                            loading(false);
                            return data;
                        });
                },
                getTags: function () {
                    var vm = this;
                    $.ajax({ url: "/api/tag", method: "GET" })
                        .done(function (data) {
                            vm.tags = data;
                        });
                },
            }
        });
    </script>

}

